#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e9ecef;
}

.form-container {
  padding: 2.25rem 3rem;
  background-color: #893302;
}

.form-container h1 {
  margin-bottom: 1.85rem;
  text-align: center;
  font-size: 2.25rem;
  color: #fbc107;
}

form {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.25rem;
  font-size: 1.25rem;
  color: #f3dcaf;
}

input {
  min-width: 18em;
  padding: 0.5rem 0.75rem;
  outline: none;
  border: none;
  font-family: serif;
}

#signup-btn {
  padding: 0.5rem 0.75rem;
  margin-top: 1.25rem;
  border: none;
  background-color: #b1652b;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f3dcaf;
}

#signup-btn:hover {
  background-color: #fbc107;
  color: #893302;
}

.error-text {
  font-size: 0.85rem;
  color: #fbc107;
}
